* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  color: $text-color;
  background: $background-color;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

code {
  padding: 2px 6px;
  border-radius: 5px;
  background: #fee2e2;
  color: #991b1b;
  font-family: Consolas, monospace;
}
